* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --main-color: rgb(96, 65, 100);
    --text-resume-color: rgb(78, 84, 84);
    --text-info-color: white;
    --secondary-color: rgb(61, 21, 61);
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    font-family: vazirmatn;
    background-color: rgb(22, 28, 38);
}

.info {
    width: 300px;
    background-color: var(--main-color);
    color: var(--text-info-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    direction: rtl;
    padding: 10px 20px 3vh 20px;
}

.image-wrapper {
    padding: 4vh 3vw 0vh 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border: 3px solid #fffb;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 3vh;
    font-size: 0.9rem;
    width: 100%;
}

.info .title {
    font-size: 1.1rem;
    padding-bottom: .7vh;
    margin-bottom: 2vh;
    border-bottom: 1px solid var(--text-info-color);
    width: 100%;
    font-weight: 400;
}

.contact-data {
    width: 100%;
}

.contact a {
    text-decoration: none;
    color: inherit;
}

.contact a:hover {
    color: var(--text-info-color);
    opacity: .65;
}

.lines {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.educations {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    margin-top: 3vh;
    font-size: 0.9rem;
    
}
.school {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1vh 0vw;
}

.name-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.name-date > p {
    font-weight: bold;
}
.description {
    font-size: .85rem;
}

.skills {
    width: 100%;
    margin-top: 3vh;
    font-size: .9rem;
}

.info li {
    margin-right: 13px;
}

.languages {
    width: 100%;
    margin-top: 3vh;
    font-size: .9rem;
}

.resume {
    width: 700px;
    background-color: rgb(245, 239, 236);
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resume * {
    direction: rtl;
}
.resume .title {
    border-bottom: 1px solid var(--text-resume-color);
    font-size: 1.1rem;
    padding-bottom: .7vh;
    margin-bottom: 2vh;
    color: var(--main-color);
    font-weight: 700;
}

.me {
    padding: 8vh 8vw 0 0;
    /* margin-bottom: 6.4vh; */
}
.me .name {
    font-size: 2rem;
    color: var(--main-color);
    font-weight: 400;
}
.me .position {
    /* margin-right: 2vw; */
    color: var(--text-resume-color);
}
.profile {
    margin-top: 3vh;
}
.profile .text {
    text-align: justify;
    color: var(--text-resume-color);
    font-size: .9rem;
}
.experiences {
    margin-top: 3vh;
}
.resume ul {
    border-right: 1px solid var(--text-resume-color);
}
.resume ul li {
    font-size: .9rem;
    margin-right: 10.5px;
    margin-bottom: 2vh;
    list-style-type: disc;
}
.experiences .work-position {
    font-size: .85rem;
}
.experiences .work-date {
    font-size: .8rem;
}












@media only screen and (max-width: 510px) {
    :root {
        font-size: 15px;
    }
    main {
        flex-direction: column;
    }
    .info {
        width: 100%;
    }
    .resume {
        width: 100%;
    }
    .me {
        padding: 0;
        margin: 3vh 1vw;
        /* margin-bottom: 6.4vh; */
    }
}
